ESTE SEGUNDO PROCESO DE ETL SE LLEVA A CABO PARA PODER DEJAR SOLO LAS COLUMNAS UTILES QUE NECESITAN LAS FUNCIONES DE LOS ENDPOINTS. ESTE PROCESO DE OPTIMIZACION NOS ES UTIL PARA AGILIZAR EL DEPLOY EN RENDER.

In [1]:
import pandas as pd

In [2]:
credits_cast = pd.read_parquet('../PI01/credits_cast.parquet')
credits_crew = pd.read_parquet('../PI01/credits_crew.parquet')
movies = pd.read_parquet('../PI01/movies_con_etl.parquet')

In [3]:
credits_cast.head()

,id_pelicula,cast_id,character,credit_id,gender,id,name,order
0,862,14.0,Woody (voice),52fe4284c3a36847f8024f95,2.0,31.0,Tom Hanks,0.0
1,862,15.0,Buzz Lightyear (voice),52fe4284c3a36847f8024f99,2.0,12898.0,Tim Allen,1.0
2,862,16.0,Mr. Potato Head (voice),52fe4284c3a36847f8024f9d,2.0,7167.0,Don Rickles,2.0
3,862,17.0,Slinky Dog (voice),52fe4284c3a36847f8024fa1,2.0,12899.0,Jim Varney,3.0
4,862,18.0,Rex (voice),52fe4284c3a36847f8024fa5,2.0,12900.0,Wallace Shawn,4.0

In [4]:
credits_crew.head()

,id_pelicula,credit_id,department,gender,id,job,name
0,862,52fe4284c3a36847f8024f49,Directing,2.0,7879.0,Director,John Lasseter
1,862,52fe4284c3a36847f8024f4f,Writing,2.0,12891.0,Screenplay,Joss Whedon
2,862,52fe4284c3a36847f8024f55,Writing,2.0,7.0,Screenplay,Andrew Stanton
3,862,52fe4284c3a36847f8024f5b,Writing,2.0,12892.0,Screenplay,Joel Cohen
4,862,52fe4284c3a36847f8024f61,Writing,0.0,12893.0,Screenplay,Alec Sokolow

In [6]:
movies.head(3)

,budget,genres,id_pelicula,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return,colection_name
0,30000000.0,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,None,Toy Story,7.7,5415.0,1995.0,12.451801,Toy Story Collection
1,65000000.0,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,104.0,"[English, Français]",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995.0,4.043035,None
2,0.0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.712900,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995.0,0.000000,Grumpy Old Men Collection

In [7]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45464 entries, 0 to 45338
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                45376 non-null  float64
 1   genres                45464 non-null  object
 2   id_pelicula           45376 non-null  object
 3   original_language     45365 non-null  object
 4   overview              44435 non-null  object
 5   popularity            45376 non-null  float64
 6   production_companies  45464 non-null  object
 7   production_countries  45464 non-null  object
 8   release_date          45376 non-null  datetime64[ns]
 9   revenue               45376 non-null  float64
 10  runtime               45130 non-null  float64
 11  spoken_languages      45464 non-null  object
 12  status                45296 non-null  object
 13  tagline               20398 non-null  object
 14  title                 45376 non-null  object
 15  vote_average          45376 non-null  float64
 16  vote_count            45376 non-null  float64
 17  release_year          45376 non-null  float64
 18  return                45376 non-null  float64
 19  colection_name        4488 non-null   object
dtypes: datetime64[ns](1), float64(8), object(11)
memory usage: 7.3+ MB

In [8]:
# Observamoso is hay valores repetidos para la columnas 'id_pelicula'.

movies['id_pelicula'].describe()

count      45376
unique     45346
top       141971
freq           3
Name: id_pelicula, dtype: object

In [9]:
movies['id_pelicula'].value_counts()

id_pelicula
141971    3
97995     2
10991     2
109962    2
119916    2
         ..
40594     1
23104     1
37605     1
91727     1
461257    1
Name: count, Length: 45346, dtype: int64

In [10]:
movies_sin_duplicados = movies.drop_duplicates(subset=['id_pelicula'])

In [11]:
movies_sin_duplicados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45347 entries, 0 to 711
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                45346 non-null  float64
 1   genres                45347 non-null  object
 2   id_pelicula           45346 non-null  object
 3   original_language     45335 non-null  object
 4   overview              44405 non-null  object
 5   popularity            45346 non-null  float64
 6   production_companies  45347 non-null  object
 7   production_countries  45347 non-null  object
 8   release_date          45346 non-null  datetime64[ns]
 9   revenue               45346 non-null  float64
 10  runtime               45100 non-null  float64
 11  spoken_languages      45347 non-null  object
 12  status                45266 non-null  object
 13  tagline               20387 non-null  object
 14  title                 45346 non-null  object
 15  vote_average          45346 non-null  float64
 16  vote_count            45346 non-null  float64
 17  release_year          45346 non-null  float64
 18  return                45346 non-null  float64
 19  colection_name        4478 non-null   object
dtypes: datetime64[ns](1), float64(8), object(11)
memory usage: 7.3+ MB

In [12]:
#Armamos un dataset con las columnas que son utiles para las primeras cuatro funciones que nos piden.

movies_funcion = movies_sin_duplicados[['id_pelicula','release_date','release_year','title','popularity','vote_count','vote_average']]

In [13]:
movies_funcion.head()

,id_pelicula,release_date,release_year,title,popularity,vote_count,vote_average
0,862,1995-10-30,1995.0,Toy Story,21.946943,5415.0,7.7
1,8844,1995-12-15,1995.0,Jumanji,17.015539,2413.0,6.9
2,15602,1995-12-22,1995.0,Grumpier Old Men,11.712900,92.0,6.5
3,31357,1995-12-22,1995.0,Waiting to Exhale,3.859495,34.0,6.1
4,11862,1995-02-10,1995.0,Father of the Bride Part II,8.387519,173.0,5.7

In [14]:
#Eliminamos los nulos.
movies_funcion.dropna(axis=0, inplace=True)

C:\Users\franc\AppData\Local\Temp\ipykernel_13112\3278501951.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_funcion.dropna(axis=0, inplace=True)

In [15]:
#Agregamos columna 'month' para el endpoint 1.

movies_funcion['month'] = movies_funcion['release_date'].dt.month

C:\Users\franc\AppData\Local\Temp\ipykernel_13112\3628914253.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_funcion['month'] = movies_funcion['release_date'].dt.month

In [16]:
#Agregamos columna 'day' para el endpoint 2.

movies_funcion['day'] = movies_funcion['release_date'].dt.day_name()

C:\Users\franc\AppData\Local\Temp\ipykernel_13112\2072777083.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_funcion['day'] = movies_funcion['release_date'].dt.day_name()

In [17]:
movies_funcion.head()

,id_pelicula,release_date,release_year,title,popularity,vote_count,vote_average,month,day
0,862,1995-10-30,1995.0,Toy Story,21.946943,5415.0,7.7,10,Monday
1,8844,1995-12-15,1995.0,Jumanji,17.015539,2413.0,6.9,12,Friday
2,15602,1995-12-22,1995.0,Grumpier Old Men,11.712900,92.0,6.5,12,Friday
3,31357,1995-12-22,1995.0,Waiting to Exhale,3.859495,34.0,6.1,12,Friday
4,11862,1995-02-10,1995.0,Father of the Bride Part II,8.387519,173.0,5.7,2,Friday

In [18]:
movies_funcion.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45346 entries, 0 to 45465
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_pelicula   45346 non-null  object
 1   release_date  45346 non-null  datetime64[ns]
 2   release_year  45346 non-null  float64
 3   title         45346 non-null  object
 4   popularity    45346 non-null  float64
 5   vote_count    45346 non-null  float64
 6   vote_average  45346 non-null  float64
 7   month         45346 non-null  int32
 8   day           45346 non-null  object
dtypes: datetime64[ns](1), float64(4), int32(1), object(3)
memory usage: 3.3+ MB

In [ ]:
# Guardamos el archivo con el nombre 'movies_funcion'.

movies_funcion.to_parquet('movies_funcion.parquet', engine='pyarrow')